h1
{
	color: red; 
	font-size: 40px;
}
.body_background {
 background-image:url("https://steamuserimages-a.akamaihd.net/ugc/1035212664432783491/DC5861C0A6CCFA9F5454221E36D55290939CF36D/?imw=5000&imh=5000&ima=fit&impolicy=Letterbox&imcolor=%23000000&letterbox=false");
 background-position: center;
 background-size: cover;
}
#cachete{
 border-width: 10px;
 background-color: lightpink;
 border-style: groove;
}
